*, *:before, *:after {
  box-sizing: border-box;
}

body {
  background-color: #dadada;
  font-size: 10px;
  margin: auto;
  width: 50%;
}

.baku {
  background-image: url("baku.jpg");
  position: relative;
  width: 48%;
  margin: 2%;
}

.container {
  margin: auto;
  width: 100%;
}

div {
  background-color: #dadada;
  float: left;
  margin: auto;
  width: 100%;
  padding: 25px;
}

h1 {
  font-size: 1.3em;
  font-family: sans-serif;
  font-variant: small-caps;
  padding: 3%;
  margin: auto;
  width: 50%;
}

h2 {
  font-size: 1em;
  font-family: serif;
  position: absolute;
  top: 10px;
  left: 10px;
  width: 50%;
}

.london {
  background-image: url("london.png");
  position: relative;
  width: 48%;
  margin: 2%
}

.madrid {
  background-image: url("madrid.jpg");
  position: relative;
  width: 48%;
  margin: 2%;
}

.preview {
  padding: 30%;
  background-size: contain;
}

.rome {
  background-image: url("rome.jpg");
  position: relative;
  width: 48%;
  margin: 2%;
}

@media screen and (max-width: 575px) {
   .container {
    margin: 1%;
    width: 40%;
  }
}
