*, *:before, *:after {
  box-sizing: border-box;
}

body {
  background-color: #dadada;
  font-size: 10px;
  margin: auto;
}

.baku {
  background-image: url("baku.jpg");
  position: relative;
  width: 40%;
  margin: 2%;
}

div {
  background-color: #dadada;
  margin: auto;
  width: 100%;
  padding: 25px;
}

h1 {
  font-size: 1.3em;
  font-family: sans-serif;
  font-variant: small-caps;
  padding: 3%;
  margin: 0;
  width: 100%;
}

h2 {
  font-size: 1em;
  font-family: serif;
  position: absolute;
  top: 10px;
  left: 10px;
  width: 50%;
}

.london {
  background-image: url("london.png");
  position: relative;
  width: 40%;
  margin: 2%
}

.madrid {
  background-image: url("madrid.jpg");
  position: relative;
  width: 40%;
  margin: 2%;
}

.preview {
  padding-top: 25%;
  background-size: cover;
  display: inline-block;
  height: 100px;
}

.rome {
  background-image: url("rome.jpg");
  position: relative;
  width: 40%;
  margin: 2%;
}

@media all and (min-width: 575px) {
   .div {
    margin: 1%;
    width: 60%;
  }
}
